<!-- Header -->
<header>
    <div class="container header-container">
        <div class="logo"><img src="assets/images/logomark.svg">RailBee</div>
        <div class="hamburger">☰</div>
        <ul class="nav-menu">
            <li><a href="index.html">Início</a></li>
            <li><a href="gallery.html">Galeria</a></li>
            <li><a href="team.html">Equipe</a></li>
            <!-- <li><a href="projects.html">Projetos</a></li> -->
            <li><a href="publications.html">Produções Acadêmicas</a></li>
            <li><a href="awards.html">Premiações</a></li>
            <!-- <li><a href="contact.html">Contato</a></li> -->
        </ul>
    </div>
</header>